{% extends "base.html" %}
{% block content %}
<div id="my-page">
  <h2>{{ user.name }}</h2>
  <img src="{{ user.icon_url }}" style="border-radius: 10px; width: 100px; height: 100px; margin-bottom: 10px">

  <form class='form-inline' method ='get' action ='/my_page'>
    <div class = "row">
      <div class="form-group">
        <div class="col-xs-5">
          <select class="form-control" id="piyo" name = "budget" value = "">
            <option value='' disabled selected style='display:none;'>予算</option>
            <option>～500円</option>
            <option>501～1000円</option>
            <option>1001～1500円</option>
            <option>1501～2000円</option>
            <option>2001～3000円</option>
            <option>3001～4000円</option>
            <option>4001～5000円</option>
            <option>5001～6000円</option>
            <option>6001～7000円</option>
            <option>7001～10000円</option>
            <option>10001～15000円</option>
            <option>15001～20000円</option>
            <option>20001～30000円</option>
            <option>30001～円</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-5">
          <select class="form-control" id="piyo" name = "genre" value = ""/>
            <option value='' disabled selected style='display:none;'>ジャンル</option>
            <option>居酒屋</option>
            <option>ダイニングバー</option>
            <option>創作料理</option>
            <option>和食</option>
            <option>洋食</option>
            <option>イタリアン・フレンチ</option>
            <option>中華</option>
            <option>焼肉・韓国料理</option>
            <option>アジアン</option>
            <option>各国料理</option>
            <option>カラオケ・パーティ</option>
            <option>バー・カクテル</option>
            <option>ラーメン</option>
            <option>お好み焼き・もんじゃ・鉄板焼き</option>
            <option>カフェ・スイーツ</option>
            <option>その他</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <button class="btn btn-primary" id="piyo" type="submit">絞り込み</button>
        </div>
      </div>
    </div>
  </form>
  <table style = "table-layout:fixed;" class="table table-striped table-hover ">
    <thead>
    <tr>
      <th style = "width:50px"></th>
      <th style = "width:150px">名前</th>
      <th style = "width:100px">予算</th>
      <th style = "width:150px">ジャンル</th>
      <th style = "width:230px">営業時間</th>
      <th style = "width:50px">駐車場</th>
      <th style = "width:50px">削除</th>
    </tr>
    </thead>
    <tbody>
      <tr v-for="(restaurant, index) in restaurants">

        <td><img v-bind:src="restaurant.img_url"></td>
        <td><a style="width:100%; height:100%; display:block;" v-bind:href="restaurant.url">[[ restaurant.name ]]</td>
        <td> [[ restaurant.budget ]]</td>
        <td> [[ restaurant.genre ]] </td>
        <td> [[ restaurant.open ]]</td>
        <td v-if="restaurant.parking"> あり </td>
        <td v-else> なし </td>
        <td> <span class="glyphicon glyphicon-remove" v-on:click="del(index, restaurant)"></span> </td>
      </tr>
    </tbody>
  </table>
</div>

<script>
  var vm = new Vue({
      el: '#my-page',
      delimiters: ["[[", "]]"] ,
      data: {
          restaurants: {{ restaurants | tojson }}
      },
      methods:{
        del: function (index, restaurant){
          if (confirm('本当に削除しますか？')){
            this.restaurants.splice(index, 1)
            restaurant = JSON.parse(JSON.stringify(restaurant))

            data = restaurant
            $.post("/fav", data);
          }
        }
      }
  })

</script>
{% endblock %}