{% extends "base.html" %}
{% block content %}
	<h2>出発地・到着地を入力</h2>
	<p>　　　　　　　　　　　</p>
	<form class="form-inline">
			<div class="form-group">
					<label class="control-label" for="focusedInput">出発地</label>
					<input class="form-control" id="focusedInput" type="text">
			</div>
			<div class="form-group">
					<label class="control-label" for="focusedInput">到着地</label>
					<input class="form-control" id="focusedInput" type="text">
			</div>
	</form>
	<p>　　　　　　　　　　　</p>
	<h2>経由地を入力</h2>
	<p>　　　　　　　　　　　</p>
	<script type="text/javascript" src="static/js/addform.js"></script>	
	<div>
	<button onclick="addFormInput();">経由地追加</button>
	</div>
	<!-- <form class="form-inline">
			<div class="form-group">
					<label class="control-label" for="focusedInput">経由地</label>
					<input class="form-control" id="focusedInput" type="text">
			</div>
	</form> 
				 -->
	<!-- <script type="text/javascript" src="static/js/addform.js"></script> -->
				 
	
{% endblock %}
